.world-music {
    font-family: 微软雅黑, sans-serif;
    position: absolute;
    color: #c7c7c7;
    font-size: 11px;
}

.world-music .music-name {
    position: relative;
}

.world-music audio {
    display: none;
    position: relative;
    width: 432px;
    height: 50px;
    left: 500px;
}